<app-nav [father]='page'></app-nav>
<div id="video" class="undertopfixed">
	<section *ngIf="showsection1 == true" class="container section1">
		<div class="row">
			<div *ngFor="let item of allvideos;let key of indice" class="col-md-4 col-lg-3 text-center mb-3">
				<iframe  width="936" height="526" [src]="item.link| safe" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
				<div (click)="showonevideo()">
					{{item.title}}
				</div>
			</div>
		</div>
	</section>
	<section *ngIf="showsection2 == true"  class="section2">
	</section>
</div>
